@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;600&display=swap');

#main {

    background-color: #FAFAFB;
    ;
    margin-left: 218px;
}

#info {
    padding-left: 30px;
}

.upload_csv {
    padding-top: 20px;
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Figtree;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    position: absolute;
}


#upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    text-align: center;
    padding: 20px;
    width: 564px;
    background-color: #FFF;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

#drop {
    border: 1px dotted #ccc;
    padding: 87px 100px 84px 100px;
    border-radius: 8px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
}

.image-container img {
    height: 28px;
    width: 30px;
}

.text {
    color: var(--Light-Trunks, #999CA0);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

#browse {
    color: #605BFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}


.upload-button {
    /* margin-right: 10px; */
    padding: 8px 16px 8px 8px;
    background-color: #605BFF;
    ;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    height: 56px;
    width: 564px;
}

.browse-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: none;
}

#remove {
    color: red;
}

#table {
    margin-top: -150px;
    margin-left: 80px;
    margin-right: 80px;
    width: "100%";
}

.text_upload {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Paragraph/UI Type/text-2xl/[S] */
    font-family: Figtree;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    /* 133.333% */
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0 25px;
    
}


.row {
    width: 1034px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--Light-Gohan, #FFF);

    padding-bottom: 16px;
}


.column {
    /* padding-left: 130px; */
    text-align: center;
}

.text-table {
    color: var(--Light-Bulma, #231F20);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
}